<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center" id="heading">Post-It Board</h1>
    <div class="row">
        <div class="card yellow darken-1 z-depth-3 col m4 s12" id="input-card">
            <form id='add_note' method="post" action="/notes">
              <input type='text' name='title' placeholder='What do you need to do today?'>
              <button type='submit' class='btn'>Submit</button>
            </form>
        </div>
        <div class="card col m7 s12 blue-grey darken-2" id="list">
                <h3 class='center'>To-Do List</h3>
                <hr/>
                <div id='note_list'>
                </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type='text/javascript' src='./javascripts/notes.js'></script>
  </body>
</html>
